<div>
  # <h1 class="font-bold text-4xl">Customers#alphabetized</h1>
  # <p>Find me in app/views/customers/alphabetized.html.erb</p>
  <h1>Alphabetized Customers</h1>
  <%= render @customers %>
  <%= link_to "All Customers", customers_path %>
  <%= link_to "Missing Email", customers_missing_email_path %>

</div>
