<div class="container font-bold">
  <h1 class="mb-10">All Customers</h1>
  <div class="customers flex flex-column mb-4  center">
    <%= render partial: "customer", collection: @customers %>
  </div>
  <div class="links">
    <%= link_to "Alphabetized", customers_alphabetized_path, class: "inline-block mr-6 text-blue-600 " %>
    <%= link_to "Missing Email", customers_missing_email_path, class: "inline-block text-blue-600 " %>
  </div>
</div>