<div>
  # <h1 class="font-bold text-4xl">Customers#index</h1>
  # <p>Find me in app/views/customers/index.html.erb</p>
  <h1>All Customers</h1>
  <%= render @customers %>
  <%= link_to "Alphabetized", customers_alphabetized_path %>
  <%= link_to "Missing Email", customers_missing_email_path %>
</div>
